@model IEnumerable<FoodWhale.Model.User>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="u-align-left u-container-style u-grey-5 u-group u-group-2">
    <a style="height:fit-content; margin-top: -2rem; margin-left: 1rem" asp-action="Create">Add</a>
    <table class="table" style="margin-left:-2.8rem">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Password
                </th>
                <th>
                    Email
                </th>
                <th>
                    DoB
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Address
                </th>
                <th>
                    City
                </th>
                <th style="background: #f2f2f2;">
                    Phone
                </th>
                <th style="background: #f2f2f2;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Uid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Convert.ToDateTime(item.DoB).ToString("yyyy/MM/dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td style="background: #f2f2f2;">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td style="background: #f2f2f2;">
                    <a asp-action="Edit" asp-route-id="@item.Uid">Edit</a><br />
                    <a asp-action="Delete" asp-route-id="@item.Uid">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
