@model IEnumerable<FoodWhale.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="u-align-left u-container-style u-grey-5 u-group u-group-2">
    <a style="height:fit-content; margin-top: -2rem; margin-left: 1rem" asp-action="Create">Add</a>
    <table class="table" style="margin-left:-2.8rem">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Ingredient Name
                </th>
                <th>
                    Image
                </th>
                <th>
                    Type
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Guideline
                </th>
                <th>
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guideline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.InId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>