@model IEnumerable<FoodWhale.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="u-align-left u-container-style u-grey-5 u-group u-group-2">
    <a style="height:fit-content; margin-top: -2rem; margin-left: 1rem" asp-action="Create">Add</a>
    <table class="table" style="margin-left:-2.8rem">
        <thead>
            <tr>
                <th>
                    Order Detail ID
                </th>
                <th>
                    Order ID
                </th>
                <th>
                    Ingredient ID
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OdId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OIdNavigation.OId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OdId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.OdId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>