@model IEnumerable<FoodWhale_User.Models.Ingredient>
@{
    var user = TempData["user"] as User;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="heading_container heading_center">
    <h2>
        Our Ingredient
    </h2>
</div>

<ul class="filters_menu">
    <li class="active" data-filter="*">All</li>
    <li data-filter=".burger">Burger</li>
    <li data-filter=".pizza">Pizza</li>
    <li data-filter=".pasta">Pasta</li>
    <li data-filter=".fries">Fries</li>
</ul>

<div class="filters-content">
    <div class="row grid">
       @foreach (var item in Model)
       {
            <div class="col-sm-6 col-lg-4 all pizza">
                <div class="box">
                    <div>
                        <div class="img-box">
                            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="">
                        </div>
                        <div class="detail-box">
                            <a asp-controller="Ingredient" asp-action="Details" style="color:#fff; font-weight:600; font-size: 1.25rem;">
                                @Html.DisplayFor(modelItem => item.InName)
                            </a>
                            <p style="color: #fff">
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                            <div class="options">
                                <h6>
                                    Price: @string.Format(info, "{0:C}", item.Price) / @Html.DisplayFor(modelItem => item.Type)
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       }
        </div>
</div>